<ion-view view-title="Browse">
  <ion-content>
    <h1>Bem  vindo ao NIR</h1>

      Selecione a aba de conteúdo para navegar pelo conteúdo disponível ou pareie com o dispositivo Bluetooth.
      <button class="button button-block button-balanced button-raised icon ion-bluetooth" ng-click="pairBT()"> Parear Dispositivo</button><br/>
      Data Read: {{data}}
      <br/>
      Data Info: {{info}}
      <br/>
      <!--button class="button button-block button-calm" ng-click="getBT()">Ler Tag</button-->
  </ion-content>
</ion-view>
