<ion-view view-title="Conteúdo">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="content in contents" href="#/app/contents/{{content.tag}}" class="button button-block button-stable button-raised ink-dark">
        {{content.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
