<div class="modal">
    <ion-modal-view>
      <ion-header-bar class="bar-royal">
        <h1 class="title">About {{content.name}}</h1>
        <div class="buttons">
          <button class="button button-clear" ng-click="closeModal()">X</button>
        </div>
      </ion-header-bar>
      <ion-content>
        {{content.description}}
      </ion-content>
    </ion-modal-view>
</div>
